name: ci

on:
  push:
    paths:
      - "**.ts"
      - "**.yml"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set Node.js to 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - uses: pnpm/action-setup@v4

      - name: Install modules
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma client
        run: pnpm prisma generate

      - name: Run ESLint
        run: pnpm eslint src/**/*.ts

      - name: Run TypeScript
        run: pnpm tsc --project tsconfig.json --noEmit
